black
azure-identity
openai>=1.37.1, <2.0.0
python-dotenv>=1.0.1, <2.0.0
ipykernel
faker
google-cloud-bigquery
azure-search-documents==11.4.0
azure-core
pandas
chardet
pytest
mltable
setuptools
azure-ai-ml
azure-ai-projects
azure-ai-inference
matplotlib
scikit-learn
xgboost
catboost
protobuf>=5.26.1,<6.0dev
psutil>=5.9,<7