black
azure-identity
openai>=1.37.1, <2.0.0
python-dotenv>=1.0.1, <2.0.0
ipykernel
faker
azure-core
pandas==1.3.5
chardet
pytest
mltable
setuptools
azure-ai-ml
azure-ai-projects
azure-ai-inference
matplotlib
scikit-learn
xgboost
catboost
protobuf
psutil>=5.9,<7
seaborn
shap
matplotlib
scikit-learn
xgboost
catboost
azure-identity==1.21.0
azure-ai-projects==1.0.0b10
semantic-kernel[azure]==1.28.1
azure-search-documents==11.6.0b8
Jinja2==3.1.6
gradio
ipykernel
ipywidgets
jupyter
